*{
    margin: 0;
    padding: 0;
}

.logo{
    background: black;
}

.logo a h1{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px;
}

.navbar{
    list-style-type: none;
    text-align: center;
    background: white;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    color: rgb(103, 28, 241);
    text-decoration: none;
    padding: 20px;
}

#contenedor{
    width: 90%;
    background: rgb(219, 182, 186)
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.primero{
    background: red;
    width: 30%;
    padding: 2%;
    box-sizing: border-box;    
}

.segundo{
    background: cadetblue;
    width: 30%;
    padding: 2%;
    box-sizing: border-box;
}

.tercero{
    background: greenyellow;
    width: 30%;
    padding: 2%;
    box-sizing: border-box;
}

.footer{
    background-color: rgb(119, 119, 119);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    color: white;
    margin-top: 2px;

}

@media screen and (min-width: 660px) and (max-width: 1200px) {
    body{
        background: rgb(238, 238, 167);
    }
    
}