*{
    margin: 0;
    padding: 0;
}

.header{
    background: black;
    padding: 0.5em 3em;
    margin bottom: 2em;
    display: flex;
    justify-content: space-between;
}

.logo a h1{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px;
}

.banner{
    padding: 1.5em;
    display: flex;
    justify-content: center;
    margin-top: 0%;

}

.navbar ul{
    display: flex;
    list-style-type: none;
    text-align: center;
}

.navbar ul li{
    padding: 1em;
}

.navbar ul li a{
    color: rgb(103, 28, 241);
    text-decoration: none;
    padding: 20px;
}

#contenedor{
    width: 90%;
    background: rgb(219, 182, 186)
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.primero{
    background: red;
    width: 30%;
    padding: 2%;
    box-sizing: border-box;    
}

.segundo{
    background: cadetblue;
    width: 30%;
    padding: 2%;
    box-sizing: border-box;
}

.tercero{
    background: greenyellow;
    width: 30%;
    padding: 2%;
    box-sizing: border-box;
}

.footer{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 2em 3em;
    color: white;
    margin-top: 4em;
    border-top: 5px solid white;
    display: flex;
    justify-content: space-between;
}

.data{
    background: grey;
    padding: 2em;
    color: black;
    border-radius: 10%;
}

.data ul li{
    list-style-type: none;
}

.map{
    width: 60%;
}

@media screen and (min-width: 660px) and (max-width: 1200px){
    body{
        background: rgb(97, 97, 71);
    }

    .banner{
        display: none;
    }
}

@media screen and (min-width:660px) and (max-width:960px){
    body{
        background: burlywood;
    }

    header{
        flex-wrap: wrap;
    }

    .logo{
        width: 100%;
        text-align: center;
    }

    .banner{
        display: none;
    }

    .primero{
        width: 100%;
        padding: 2em;
    }

    .primero figure{
        height: 250px;
        overflow: hidden;
    }

    .segundo, .tercero{
        width: 50%;
        padding: 2em;
    }

    #contenedor article h2{
        font-size: 2em;
    }

    .p{
        font-size: 1.3em;
    }
}